@import "./SassMixinsAndVariables.scss";

#plant-list {
  display: flex;
  flex-wrap: wrap;

  .card {
    cursor: pointer;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 0;
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    & > * {
      flex: 1 0;
    }
    position: relative;
    .content::before {
      content: "";
      display: block;
      width: 100%;
      opacity: 0;
    }
    &:hover {
      .image {
        img {
          transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
      }
      .content::before {
        content: attr(data-before);
        transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        background: rgba(101, 198, 187, 0.9);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        opacity: 1;
        position: absolute;
        z-index: 3;
        // clip-path: polygon(0 2vw, 3vw 0, 100% 0, 100% 100%, 0 100%);
        // transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
    }
    @include desktop {
      &:nth-of-type(4n + 4) {
        flex: 2 0 63%;
        margin-right: 1.5%;
      }
      &:nth-of-type(4n + 7) {
        flex: 2 0 63%;
        margin-left: 1.5%;
      }
    }
    .image {
      img {
        height: 20vw;
        object-fit: cover;
      }
    }
    .content::before {
      transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      clip-path: polygon(0 2vw, 3vw 0, 100% 0, 100% 100%, 0 100%);
      top: 11vw;
      left: 0;
      height: 9vw;
      position: absolute;
    }
    @include tablet {
      flex: 1 0 47%;
      &:nth-of-type(3n + 3) {
        flex: 2 0 63%;
        margin-right: 1.5%;
      }
      .image {
        img {
          height: 30vw;
        }
      }
      .content::before {
        transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        clip-path: polygon(0 3.5vw, 4.3vw 0, 100% 0, 100% 100%, 0 100%);
        top: 17vw;
        left: 0;
        height: 13vw;
        position: absolute;
      }
    }
    @include phone {
      flex: 1 0 100%;
      .image {
        img {
          height: 55vw;
        }
      }
      .content::before {
        transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        clip-path: polygon(0 3.5vw, 4.3vw 0, 100% 0, 100% 100%, 0 100%);
        top: 30vw;
        left: 0;
        height: 25vw;
        position: absolute;
      }
    }
  }
  .ui.segment.loader-segment {
    padding-top: 6rem;
    padding-bottom: 6rem;
    flex: 1 0 100%;
  }
}
